@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/breakpoint' as *;

@mixin landing-page-background() {
  background-color: $layer-selected-inverse;
  color:$background;
  position: relative;
}

